<div
  style="background-image:url('../../assets/space2.jpg');background-repeat: no-repeat;background-size: cover;height:1092px;width:100%">

  <app-ship #ship></app-ship>
  <div [hidden]="!asteroid.visible" [style.left.px]="asteroid.x" [style.top.px]="asteroid.y" *ngFor="let asteroid of asteroids" class="asteroid">
  </div>
</div>
