<div style="width:100%;height:0;padding-bottom:67%;position:relative;">
  <div class="background"></div>
</div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <div class="form-group">
        <label style="color: white;" for="username">Name</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary" role="submit">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Ok
        </button>
    </div>
</form>
<!--<audio controls autoplay>-->
<audio controls>
    <source src="../../assets/starwars.mp3" type="audio/mpeg">
  </audio>
